<section id="confirma">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Confirma tu asistencia</h2>
                <h3 class="section-subheading text-muted">Whatsapp, Telegram, teléfono, en persona... ¡nos vemos!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-left text-muted">
            </div>
            <div class="col-lg-8 text-left text-muted">
                <p>Sabemos que es una pequeña paliza de coche, pero nuestra intención es invitar a poquita gente para hacer un plan "muy nuestro"; con esa excursión, comida en la mitad de ningún sitio y todo con poquita gente.</p>
                <p>Además, si queremos repartir los kilómetros en coche, esta puede ser una buena excusa para aprovechar que el sábado está servido y disfrutar un poco de <em>la Perla del Pirineo</em> haciendo alguna noche por la zona. En Jaca y alrededores hay muchos sitios donde poder hacer noche, pero esto ya está en vuestras manos.</p>
                <p><strong>Etiqueta:</strong> La ropa más cómoda y más adecuada para tirarte en el césped y abrazar osos panda. La climatología mandará, esperemos tener buena suerte.</p>
            </div>
            <div class="col-lg-2 text-left text-muted">
            </div>
        </div>
    </div>
</section>
