<!-- About Section -->
    <section id="el_plan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">EL PLAN</h2>
                    <h3 class="section-subheading text-muted">Pasar unas horas con vosotr@s cerca del Pirineo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/monasterio-nuevo-squared.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>[2019-09-28] 10:00</h4>
                                    <h4 class="subheading">San Juan de la Peña</h4>
                                    <h4 class="subheading">Monasterior Nuevo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El primer paso va a ser reunimos todos en las mesas cerca del parking. La hora está por confirmar, como pronto sería a esa hora.</p>
                                    <p class="text-muted">Desde Santa Cruz de la Serós hasta el monasterio hay unos 15 minutos de carretera revirada de montaña (no hay demasiada pendiente).</p>
                                    <p class="text-muted"><a href="https://goo.gl/maps/pJAEBcUJGV2QG5S57">GPS</a></p>
                                    <p class="text-muted"><a href="#portfolioModal1" data-toggle="modal">Detalles de la ruta</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/monasterio-viejo-squared.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Visita al Monasterio Viejo</h4>
                                    <h4 class="subheading">Estamos trabajando en ello</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nos hace un poquito de ilusión meter un poco de cultura a este día, así que estamos viendo cuánto tiempo nos llevaría esto, y si tal vez sería mejor dejarlo pasar y retrasar un poco la hora de comienzo.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/balcon-pirineos-squared.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>La excursión</h4>
                                    <h4 class="subheading">Circular de los miradores</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sin paradas la excursión sería de unos 50-60 min. Pero nos vamos hacer unas cuantas fotos :-)</p>
                                    <p class="text-muted">Ruta, spoilers, y demás: <a href="#portfolioModal2" data-toggle="modal">Más información</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/solana-squared.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>La comida</h4>
                                    <h4 class="subheading">Casa Rural La Solana</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En Novés, un pequeño pueblo a 15 minutos de Jaca hemos encontrado una casa donde las familias nos vamos a alojar. La idea es servir una comida informal (hacednos llegar vuestras restricciones y preferencias de bebida) y tener una buena sobremesa.</p>
                                    <p class="text-muted"><a href="https://goo.gl/maps/wJCy9yMxpt8aSHDWA">GPS</a> (<a href="#portfolioModal3" data-toggle="modal">Más información</a>)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Gracias
                                    <br>por
                                    <br>venir!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
