<section id="preguntas" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Preguntas frecuentes</h2>
                <h3 class="section-subheading text-muted">Si has llegado hasta aquí, alguna duda tendrás</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left text-muted">
                <p><strong>¿Cuándo os casáis?</strong></p>
                <p>El viernes por la tarde iremos las familias y los testigos al ayuntamiento, y ahí nos casaremos. Así que el sábado ya seremos unos experimentados en eso del matrimonio.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12 text-left text-muted">
                <p><strong>¿Qué me pongo?</strong></p>
                <p>La ropa más cómoda y más adecuada para tirarte en el césped y abrazar osos panda. La climatología mandará, esperemos tener buena suerte.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12 text-left text-muted">
                <p><strong>¿Me voy a quedar con hambre?</strong></p>
                <p>Lo más probable es que si no os estáis riendo al leer esto, la respuesta sea sí. Pero para ello hemos dispuesto unos campos de trigo y unos corderos en las cercanías de la casa rural para que nadie se quede con hambre. Está claro, hemos pensado en todo (el McDonald's no cae muy lejos... pero en Jaca las raciones no andan nada mal)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12 text-left text-muted">
                <p><strong>¿Pero hay número de cuenta o no?</strong></p>
                <p>Vengáis o no el sábado, vuestro regalo es más que bienvenido. Pero claro, no es una obligación. Lo que queremos es estar con vosotros y aprovechar la ocación para celebrarlo con poquita gente, con la cercana. Aquí no mandamos, pero por si acaso, y conociendo nuestro gusto por el dinero en efectivo: NÚMERO DE CUENTA</p>
            </div>
        </div>
    </div>
</section>
